<h1 class="text-center"> KINGDOM MUSIC </h1>
<div class="space-block"></div>
<h2 class="text-center">理想の音楽につながる<br>最高の体験をあなたに</h2>
<br>
<%= link_to "会員登録はこちら", new_user_registration_path, class:"center-block btn btn-green btn-block top_button" %>
<br>
<%= link_to "ログイン", new_user_session_path, class:"center-block btn btn-pink btn-block top_button" %>
